fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
stripe
paypalrestsdk
pydantic-settings
python-dotenv
jinja2
mailtrap
pyotp
requests
python-multipart
email-validator